@media only screen and (min-width : 320px) {

  .jumbotron {
    width: 100%;
    min-height: 250px;
    position: relative;
    background: url(/images/mobilejaw.jpg) center center;
    background-repeat: no-repeat;
    background-size: 100%;
    margin-bottom: 0;
    }


    .jumbotron h1 {
      display: none;
    }

    .mobile-heading{
      text-align: center;
      display: block;
      font-size: 3em;
      font-family: "Trajanus-Roman";
      color: black;
    }

    .mobile-subhead{
      text-align: center;
    }

    #mobile-underline{
      margin-top: 0px;
      padding-top:0px;
      padding-top:0px;
      display: block;
      margin-left: auto;
      margin-right: auto;
      background-color: black;
      height: 0.1em;
      max-width: 20em;
    }

    #underline {
      display: none;
    }

    .jumbotron p {
      display: none;
    }

    p {
      text-align: center;
    }


    /* fonts and text */

    @font-face {
      font-family: 'Trajanus Roman';
      src: url('http://www.fontsaddict.com/fontface/trajanus-roman.TTF');
    }

    h2 {
      font-family: "Trajanus-Roman";
      font-size: 2.0em;
      text-align: center;
    }

    p {
      font-family: "Trajanus-Roman";
      font-size: 1.0em;
    }


    /* contact page stuff */

    a {
      font-family: "Trajanus-Roman";
      font-size: 1.0em;
      font-style: none;
      color: black;
    }

    a:hover {
      color: black;
    }

    a:visited {
      color: black;
      font-style: none;
    }

    #contactlist {
        position: relative;
        display: block;
        margin: auto;
    }

    #contactoptions {
        position: relative;
        max-width: 80%;
        display: block;
        margin: auto;
        text-align: left;
    }


    /* picture stuff */

    .pic {
      position: relative;
      margin: auto, auto;
    }

    .profile-picture {
        position: relative;
        display: block;
        max-width: 14em;
        margin: auto;
        border-radius: 100%;
    }

    .gallerycontainer{
      max-width: 80%;
      margin-left: auto;
      margin-right: auto;
      margin-top: 50px;

    }

    .portfolio-item {
        margin-bottom: 25px;
    }




    /* bootstrap 3 helpers */


    #nav.affix {
        position: fixed;
        top: 0;
        width: 100%;
        z-index:10;
    }



    /* navbar */

    .navbar {
      margin-top: 0;
      background-color: black;
      font-family: "Trajanus-Roman";
      color: white;
      min-height: 30px;
    }

    .navbar-default .navbar-nav li {
      color: #777;
    }

    .navbar-nav{
      width: 100%;
    }

    .navbar-nav li {
      padding-top: 15px;
      padding-bottom: 15px;
      line-height: 20px;
      text-align: center;
      position: relative;
      display: inline;
      padding: 10px 15px;
      margin: 0 auto;
    }

    .link{
      cursor: pointer;
    }

    /* footer */

    footer {
      text-align:center;
      width: 100%;
      font-size:0.75em;
      font-family:"Trajanus-Roman"
      clear:both;
      background-color: white;
      padding-top:50px 0 0;
      margin-top: 30px;}

      .social-icon {
      width: 20px;
      height: 20px;
      margin: 10px 5px;
      border-radius: 20%
      }

      .social-icon.list{
      margin-right: 20px;
      }

      footer p {
        color: black;
      }




      .page-content{
        padding-left: 20px;
        margin-top: 100px;

      }

      .about-container{
        margin-top: 50px;
      }

      .contact-container {
      padding-left: 20px;
      margin-top: 50px;
      }



    }

    /* Small Devices, Tablets */
    @media only screen and (min-width : 600px) {


    .jumbotron {
    background: url("/images/jaw.jpg") no-repeat center center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    min-height: 450px;
    margin-bottom: 0px;
    }



    .jumbotron .jumbotron-text {
      text-align: center;
    }

    .mobile-heading{
      display: none;
    }

    .mobile-subhead{
      display: none;
    }

    #mobile-underline{
      display: none;
    }

    .jumbotron h1 {
      display: inline;
      font-size: 5em;
      font-family: "Trajanus-Roman";
    }

    #underline {
      display: block;
      margin-left: auto;
      margin-right: auto;
      background-color: black;
      height: 0.1em;
      max-width: 40em;
    }


    .jumbotron p {
    display: block;
    font-size: 1.2em;
    font-family: "Trajanus-Roman";

    }

    .navbar {
      min-height: 50px;
    }

      .navbar-nav li {
      display: inline-block;
    }

    .about-container p {
    text-align: left;
     }

     .contact-container p {
    text-align: left;
     }

     .about-container h2 {
    text-align: left;
     }

    .contact-container h2 {
    text-align: left;
    }

}

    /* Large Devices, Wide Screens */
    @media only screen and (min-width : 1200px) {

    }



